html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body { 
  height: 100vh;
  background-color: transparent;  
 
}
#root{
  height: 100%;
}
.home{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer'; 
  height: 100%;
  /* background-color: #c7c3c3;   */
 
}

.main{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer'; 
  height: 100%;
  background-color:transparent;   
  background-image: url('./screens/d2.jpg');
  background-repeat: round;
}
.header{
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;  
  background-color: darkgray;
  height: 5.5rem;

}
.header-links-services a{
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  

}
.header-links-services a:hover{
  color: rgb(255, 165, 0);
}
.logo-description{
  display: block ;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  
}
.description{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  width: 100%;
  font-size: x-large;
  color:black;
  font-weight: bold;
  max-width: 70rem;
  max-height: 45rem;
  border: 0.1rem #b8b5b5 solid;
  background-color: #eeebebef ;
  border-radius: 10rem;
  
}
.description p{
  display: block;
  margin: 1rem 5rem;
  font-family: cursive;
}

.image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%; 
  border-radius: 30rem;
  background-color: #f8f8f8;
  
}
.back-to-result{
  padding: 1rem;
}
.content-services{
display: flex;
margin: 1rem 10rem;
}
footer{
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
  min-height: 50px;
  font: 1.6rem Helvetica;
}
  a :hover{
  color: orange;
}
.email{
 
  margin-left: auto;
  margin-right: auto;
  border: solid;
  border-color: rgb(36, 37, 39);
  padding-left: 2rem;
  padding-top: 4rem;  
  padding-right: 2rem;  
  border-radius: 50%;
   box-shadow: 50px 50px 15px #888888; 
   background-color: #c7c3c3;
}
h4{
  font-size: xx-large;
  padding-left: 2rem;
  padding-top: 4rem;  
  padding-right: 2rem;
}
.email a{
  margin-top:-6rem;
  
}
.table{
  display: table;
    background-color: darkgray; 
    box-shadow: 50px 50px 15px #888888;  
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
    border-radius: 10%;
    padding-right: 4rem;
    padding-left: 1rem;
}
tbody{
  display: table;
  margin-left: 3.5rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
}
th{
  
  font-weight: bold;
  font-size: xx-large; 
  float: left;
  margin-left: 3rem;
}
td{
 
  font-size: x-large;
}
tr{
  background-color: inherit; 
  
}
@viewport {
  width: device-width ;
  zoom: 1.0 ;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin-left: 13rem;
  border-radius: 50%;
   box-shadow: 50px 50px 15px #888888; 
  }
 
  .fa:hover {
  opacity: 0.7;
  background: orange;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}