html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body {
  font: 1.6rem Helvetica;
  height: 100vh;
  margin: 0;
}
#root{
  height: 100%;
}
.grid-container{
  display: grid;
  grid-template-areas: 
  'header'
  'main'
  'footer';  
  height: 100%;
  

}
.header{
  grid-area: header;
  display: flex;
  justify-content: space-around;
  align-items: center;  
  background-color: darkgray;
  height: 5.5rem;

}
.header-links-services a{
  color: white;
  font-size: 2.5rem;
  font-weight: bold;
  

}
.header-links-services a:hover{
  color: rgb(255, 165, 0);
}

.main{
  grid-area: main;
  background-color: transparent;  
  margin: 1rem;
  
}

.main-productscreen{
  grid-area: main;
  background-color: transparent;  
  
  
}
.main-homescreen{
  grid-area: main;
  background-color: transparent;  
  margin: 1rem
  
}

.main-contact{
  grid-area: main;
  background-color: transparent;  
  
  
}
.content {
  display: flex;
  flex-direction: column;
   border-radius: 50rem;
}
a{
  text-decoration: none;
}

/*home screen*/
.products{
  display: flex;
  
  
}
.products li{
  display: block;
  list-style-type: none;
  justify-content: center;
  margin-left: 30rem;
}
.product{
  display: flex ;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: 5rem;
  margin-top: 5rem;
}


.product-brand{
  font-size: x-large;
  color:black;
  font-weight: bold;
  max-width: 70rem;
  max-height: 45rem;
  border: 0.1rem #b8b5b5 solid;
  background-color: #eeebebef ;
  border-radius: 10rem;
  

}
.product-brand p{
  display: block;
  list-style-type: none;
  margin: 1rem 5rem;
  font-family: cursive;
}


.product-image{
  max-width: 35rem;
  max-height: 35rem;
  border: 0.1rem #808080 solid;
  border-radius: 30rem;
  background-color: #f8f8f8;
  padding: 3rem;
}
.details-image{
  flex: 2 1 60rem;

}
.details-image img{
  max-width: 60rem;
  width:  100%;
}
.back-to-result{
  padding: 1rem;
}
.content-services{
display: flex;
margin: 1rem 10rem;
}
.services{  
  display: grid;
  grid-template-columns: auto 10px auto 10px auto 10px;
  grid-template-rows: auto;  
  justify-content: space-evenly;
  justify-items: center;
  flex-wrap: wrap;
  background-color: darkgrey;
  height: 100%;
  border-radius: 5rem;
  margin-left: 5rem;
  margin-top: 5rem;
 
}

.services h4 {
  font-size: x-large;
  color: black;
}
.services ul {
  display: block;
    list-style-type: none;
    padding-right: 15rem;
    
}
.services li{
  color:black;
  font-size: larger;
 
}
.footer{
  grid-area: footer;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5.5rem;
  margin-top: 17rem;
}
.contact{
  display: grid;
  justify-content: center;
  background-color: #dbd6d6ef ;
  
  border-radius: 5rem;
  margin-top: 45rem;
  margin-left: 60rem;
  width: 35%;
  align-self: center;
}
.content-contact{
  display: grid; 
   align-self: center;
  margin-top: 40rem;
  
}
.contact a{
   font-size: xx-large;
}
.contact a:hover{
  color: orange;
}
.email{
  font-size: xx-large;
}
@media all and (max-width:500px){
  .grid-container{
    display: inline-grid;
    grid-template-areas: 
    'header'
    'main'
    'footer'; 
   
    background-image:url('./d1.jpg');
    background-repeat: repeat;
      
  
  }
  
.product{
  display: flex ;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  margin-left: 5rem;
  margin-top: 5rem;
}


.product-brand{
  font-size: x-large;
  color:black;
  font-weight: bold;
  max-width: 70rem;
  max-height: 45rem;
  border: 0.1rem #b8b5b5 solid;
  background-color: #eeebebef ;
  border-radius: 10rem;
  

}
.product-brand p{
  display: block;
  list-style-type: none;
  margin: 1rem 5rem;
  font-family: cursive;
}


.product-image{
  max-width: 35rem;
  max-height: 35rem;
  border: 0.1rem #808080 solid;
  border-radius: 30rem;
  background-color: #f8f8f8;
  padding: 3rem;
}
}

